name: Run unit tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: read
  issues: write
  checks: write

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6
      - name: Use Node JS LTS 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run unit tests
        run: npm run test-results
      - name: Report test results
        uses: mikepenz/action-junit-report@v6
        if: success() || failure()
        with:
          report_paths: '**/test-results.xml'
          check_name: 'Test Report'
